.stylish-form
{
    background-image:url('https://lut.im/cOs9CbKe42/DT8DT06CeJkRsyWC.jpg');
    padding:100px;
}
.stylish-form h2 {
    color:#f96332;
    margin-top:50px;

}
.font_white {
    color:#fff !important;
}
.mar20
{
    margin:40px;
}
.inner-section {
    background-color:#0D5FBD;
    width:550px;
    display:block;
    margin:20px auto;
}
.form{
    border-radius:8px;
    padding-top:25px;
    padding-bottom:25px;
    height:640px;
}
.h2form {
    font-weight:700;
}
.ulform{
    list-style-type:none;
    text-align:center;
    margin-top:25px;
}
.form ul.ulform >li {
    display:inline-block;
}
.form ul >li > i {
    margin-top:18px;
}
.icon-holder {
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
    height: 80px;
    width: 80px;
    text-align: center;
    margin-right: 20px;
}

.dsp-flex {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center;
    justify-content: center
}
.input-group, .form-group {
    margin-top:30px;
}
.input-group-addon {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FFFFFF;
    border-radius:25px;
}
.form-control,.form-control:focus,.form-control:hover
{
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    border-radius:25px;
    border:none;
    font-size:18px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
}
.footer {
    margin-top:40px;
    margin-bottom:40px;
}
input::placeholder {
    color: #fff !important;
}
.btn-lg {
    font-size: 1em;
    border-radius: 0.25rem;
    padding: 15px 48px;
    width:200px;
}
.btn-round {
    border-width: 1px;
    border-radius: 30px !important;
    padding: 11px 23px;
}
.btn-neutral,.btn-neutral:focus,.btn-neutral:hover {
    background-color: #FFFFFF;
    color: #0D5FBD;
}
.left
{
    margin-right:15px;
    margin-bottom:50px;
}
.right
{
    margin-left: 15px;
    margin-bottom:50px;
}
.fafa{
    color:black;
}